<div class="row bg-primary">
    <div class="col text-center">{{ productos.length }} PRODUCTOS</div>
</div>

<div class="row" *ngIf="productos.length == 0">
    <div class="col-12 bg-danger">
        No hay productos
    </div>
</div>
<div class="row mt-1" *ngFor="let item of productos">
    <div class="col-3">
        {{ item.nombre }}
    </div>
    <div class="col-2">
        {{ item.precio }}
    </div>
    <div class="col-3">
        {{ item.categoria }}
    </div>
</div>
<div class="row mt-1">
    <input type="text" #nombreproducto class="col-4 ml-3 mr-2">
    <button (click)="eliminar(nombreproducto.value)" type="button" name="eliminar[]" id="eliminar[]" class="btn btn-primary" btn-lg btn-block>Eliminar</button>
</div>
<div class="warning bg-warning" *ngIf="eliminado!=null">
        Elemento eliminado: {{eliminado.nombre}}, {{eliminado.precio}}, {{eliminado.categoria}}
</div>
<div class="warning bg-warning" *ngIf="encontrado==false">
    Elemento no encontrado
</div>