<div class="row bg-primary">
    <div class="col text-center">FORMULARIO</div>
</div>
<div class="form-group mt-1">
  <input type="text" class="form-control" name="" id="" placeholder="Nombre">
</div>
<div class="form-group">
    <input type="text" class="form-control" name="" id="" placeholder="0">
</div>
<button type="submit" class="btn btn-primary">Enviar</button>
<div class="warning bg-warning mt-3">
  El nombre del producto es obligatorio.
</div>

<form (ngSubmit)="onSubmit()" #form="">
  <div class="row">
    <div col-2>
      <input type="text" #nombreproducto placeholder="Nombre">
      <input type="text" #precio placeholder="Precio">
      <input type="text" #categoria placeholder="categoria">
      <button (click)="onSubmit()" type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>