<div class="row bg-primary">
    <div class="col text-center">FORMULARIO</div>
</div>

<!-- <div class="form-group mt-1">
  <input type="text" class="form-control" name="" id="" placeholder="Nombre">
</div>
<div class="form-group">
    <input type="text" class="form-control" name="" id="" placeholder="0">
</div>
<button type="submit" class="btn btn-primary">Enviar</button> -->


<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row">
    <div class="col-12">

      <input class="col-6 mt-1 form-control" 
              type="text" 
              #nombreproducto = "ngModel"
              name="nombre"
              [(ngModel)]="datosformulario.nombre"
              placeholder="Nombre"
              required>
              <div *ngIf="nombreproducto.errors?.['required']" class="col-6 alert alert-danger">Nombre requerido</div>

      <input class="col-6 mt-1 form-control" 
              type="number" 
              #precio = "ngModel"
              name="precio"
              [(ngModel)]="datosformulario.precio"
              placeholder="Precio"
              min="1"
              required>
              <div *ngIf="precio.errors?.['required']" class="col-6 alert alert-danger">Precio requerido</div>
              <div *ngIf="precio.errors?.['min']" class="col-6 alert alert-danger">No puede ser 0</div>

      <input class="col-6 mt-1 form-control" 
              type="text" #categoria
              name="categoria"
              [(ngModel)]="datosformulario.categoria"
              placeholder="categoria">

      <button [disabled]="!form.valid" type="submit" id="submit" class="btn btn-primary col-6 mt-1">Enviar</button>
    </div>
  </div>
</form>

{{ datosformulario | json }}

<div class="warning bg-warning mt-1">
  El nombre del producto es obligatorio.
</div>
